@charset "utf-8";

/*BODY*/
body{
 width: 100%;
}
/*HEADINGS*/
 h1{
	 
 }
 h2{
	 
 }
 
 h3{
	 
 }
/*PARAGRAPHS*/
p{
	width: 90%;
	font-size: 12px;
	text-align: center;
	margin: 0 auto;
}
/*LOGO*/
#logo{
	width: 100%;
	margin: 0 auto;
	padding: 0px;
	left: 0px;
	top: 0px;
	float: none;
	clear: both;
}
/*GLOBAL NAV*/
ul{
	width: 100%;
	clear: both;
	margin: 0 auto;
}

li{
	width: 40%;
	text-align: center;
	float: none;
}

li a{
	display: block;
	float: right;
	margin: 0 auto;
	text-align: center;
}

li a:visited{
	text-decoration: none;
	
}
#home{
	display: none;	
}

#visit{

}

#about{
	display: none;	
}

/*SOCIAL NETWORKS*/
#pintrest{
	width: 20%;
	padding-right: 1em;
	float: left;
}

#twitter{
	width: 20%;
	padding-right: 1em;
	float: left;
}

#facebook{
	width: 20%;
	padding-right: 1em;
	float: left;
}
/*SLIDESHOW*/
.HM_Slide_Wrap{
	
}

.HM_Slide_CTA{
	margin: 0 auto;
	clear: both;
	float: none;
	width: 100%;
}

.HM_Slide_Left{
	display: none;
}

.HM_Slide_Right{
	display: none;
}
/*FOOTER*/
footer{
	clear: both;	
}
/*HOME*/

/*ABOUT US*/

/*OUR STAFF*/

/*SERVICES*/

/*YOUR FIRST VISIT*/

/*CONTACT US*/