@charset "utf-8";

/*BODY*/
body{
 width: 100%;
}
/*HEADINGS*/
 h1{
	 
 }
 h2{
	 
 }
 
 h3{
	 
 }
/*PARAGRAPHS*/
p{
	width: 90%;
	font-size: 14px;
	text-align: center;
	margin: 0 auto;
}
/*LOGO*/
#logo{
	width: 100%;
	margin: 0px;
	padding: 0px;
	left: 0px;
	top: 0px;
}
/*GLOBAL NAV*/
ul{
	width: 100%;
	clear: both;
}

li{
	width: 40%;
	float: right;
}

li a{
	display: block;
	float: right;
}

li a:visited{
	text-decoration: none;
	
}
/*SOCIAL NETWORKS*/
#pintrest{
	width: 30%;
	padding 1em;
}

#twitter{
	width: 30%;
	padding 1em;
}

#facebook{
	width: 30%;
	padding 1em;
}
/*SLIDESHOW*/
.HM_Slide_Wrap{
	
}

.HM_Slide_CTA{
	
}

.HM_Slide_Left{
	display: none;
}

.HM_Slide_Right{
	display: none;
}
/*FOOTER*/

/*HOME*/

/*ABOUT US*/

/*OUR STAFF*/

/*SERVICES*/

/*YOUR FIRST VISIT*/

/*CONTACT US*/