/* --------------------------- General Body Formatting ------------------- */
body {
	width: 90%;
	border-radius: 0.313em;
	border: 0.188em solid #d1a82c;
	margin: 0 auto;
	background: #6c5f57;
	background-clip:content-box;
}
/* --------------------------- General Heading Formatting ------------------- */

/* --------------------------- General Paragraph Formatting ------------------- */