/* --------------------------- General Body Formatting ------------------- */
body {
	width: 90%;
	border-radius: 0.313em;
	border: 0.188em solid #d1a82c;
	margin: 0 auto;
}

/* --------------------------- General Wrapper Formatting ------------------- */

#wrapper {
	background-color: #fcfbfc;
	border-radius: 0.313em;
	border: 0.188em solid black;
	margin: 0.313em;
}

/* --------------------------- General Heading Formatting ------------------- */

/* --------------------------- General Paragraph Formatting ------------------- */