/* --------------------------- General Body Formatting ------------------- */
body {
	width: 90%;
	margin: 0 auto;
	background-color: #a2d5c6;
}

/* --------------------------- General Inner Box Formatting ------------------- */

#innerbox {
	background-color: #fcfbfc;
	border-radius: 0.625em;
	margin: 0.626em;
	overflow: auto;
}

/* --------------------------- General Outer Box Formatting ------------------- */

#outerbox {
	background-color: #f8f5ec;
	border-radius: 0.313em;
	border:  #bab0a7 0.188em solid ;
	margin-top: 0.626em;
	overflow: auto;
}

/* --------------------------- General Heading Formatting ------------------- */

h1 {
	font-size: 2.25em;
	color: #6c5f57;
	font-style: bold;
	clear: both;
	margin: 0.313em;
}

h2 {
	font-size: 2em;
	color: #6c5f57;
	font-style: bold;
}

h3 {
	font-size: 1.5em;
	color: #6c5f57;
	font-style: bold;
}

/* --------------------------- General Paragraph Formatting ------------------- */



/*---------------------------- Site Intent Section ----------------------------*/

section.siteIntent {
	width: 40%;
	float: left;
	margin: 0.313em;
	padding: 0.313em;
	border: 0.152em solid #bab0a7;
	border-radius: 0.625em;
	background: -webkit-linear-gradient(top, #ffffff, #f1f1f1);
	background: -moz-linear-gradient(top, #ffffff, #f1f1f1);
}

/*---------------------------- Targeted Audience ----------------------------*/

section.targetedAudience {
	width: 40%;
	margin: 0.313em;
	float: left;
	padding: 0.313em;
	border: 0.152em solid #bab0a7;
	border-radius: 0.625em;
	background: -webkit-linear-gradient(top, #ffffff, #f1f1f1);
	background: -moz-linear-gradient(top, #ffffff, #f1f1f1);
}

/*---------------------------- Competitive Analysis Section ----------------------------*/

section.competitiveAnalysis {
	clear: both;	
	width: 90%;
	margin: 0.313em;
	border: 0.152em solid #bab0a7;
	border-radius: 0.625em;
	padding: 0.313em;
	background: -webkit-linear-gradient(top, #ffffff, #f1f1f1);
	background: -moz-linear-gradient(top, #ffffff, #f1f1f1);
}